/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 22px;
  background: rgb(15,66,145);
background: linear-gradient(133deg, rgba(15,66,145,1) 0%, rgba(15,118,195,1) 14%, rgba(27,160,235,1) 26%, rgba(125,207,254,1) 36%, rgba(156,221,253,1) 46%, rgba(170,222,232,1) 55%, rgba(204,220,183,1) 62%, rgba(235,216,134,1) 68%, rgba(254,203,112,1) 76%, rgba(255,202,116,1) 83%, rgba(254,190,118,1) 92%, rgba(255,154,92,1) 100%);
} */



body {
  /* height: 100vh; */
  height: 100%;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  /* height: 100vh; */

  height: 100%;
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}

button:focus, 
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}  */
.app {
  /* height: 100%; */
  height: 100vh;
  /* width: 100vw; */
/* background-color: tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, rgba(226, 244, 254, 1) 50%, rgba(254, 214, 108, 1) 100%);
  /* .bg-forecast {
    position: absolute;
    width: 100vw;
    height: 100%;
    transition: background 250ms linear;
  } */
}

.plus-0 {
  background: linear-gradient(150deg, rgba(226, 244, 254, 1) 50%, rgba(254, 214, 108, 1) 100%);
}

.plus-10 {
  background: linear-gradient(150deg, rgba(156, 221, 253, 1) 50%, rgba(255, 214, 108, 1) 100%);
}

.plus-20 {
  background: linear-gradient(150deg, rgba(156, 221, 253, 1) 50%, rgba(255, 214, 108, 1) 100%);
}

.plus-30 {
  background: linear-gradient(150deg, rgba(255, 214, 108, 1) 50%, rgba(156, 221, 253, 1) 100%);
}

.minus-0 {
  background: linear-gradient(150deg, rgba(226, 244, 254, 1) 50%, rgba(254, 214, 108, 1) 100%);
}

.minus-10 {
  background: linear-gradient(150deg, rgba(23, 156, 231, 1) 50%, rgba(156, 221, 253, 1) 100%);
}

.minus-20 {
  background: linear-gradient(150deg, rgba(13, 60, 138, 1) 50%, rgba(23, 156, 231, 1) 100%);
}

.minus-30 {
  background-color: rgba(13, 60, 138, 1);
}


.container {
  width:50%;
  height: 63%;

/* position: relative;  */
 /* justify-content: center;
  align-items: center; */
  /* flex-direction: column;
  flex-wrap: wrap; */

  /* height: 100%; */
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.searchForm {
  /* height:auto; */
  /* height: 18%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* padding: 0 0.5rem 0.25rem; */
  border-bottom: 1px solid #eee;
  background-color: #fefefe;
  /* background-color: #26c494; */
  border-radius: 12px;
}

.form-container {
  height:auto;
  /* display: flex; */
  display: grid;
    grid-template-columns: 1fr 1fr 5fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  border-radius: 12px;
  /* padding: 0 0.5rem 0.25rem; */
  /* border-bottom: 1px solid #eee; */
  /* background-color: #fefefe; */
  /* background-color: #26c494; */
}
#rfs-btn {
  height: 47px;
  margin: 0px 7px;
  width: 100px; 
   border-radius: 0.25rem;

}

.demo-wrapper > div{
  padding-bottom: 0px;

}
.ReactFlagsSelect-module_selectBtn__19wW7 {
width: auto;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2{
  padding-bottom: 0px;
}

/* .searchForm label {
  position: absolute;
  left: -99999px;
} */
 
.input-container{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 100%;
  border-radius: 0.25rem;
  border: solid 1px #c8c8c8;
  background-color:white;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  /* width: 450px; */

  height: 45px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
  border-color: transparent;
}

.searchForm input::selection {
  background-color: transparent;

}

.search-button { 
  float: right;
  width: 35px;
  background-color: transparent;
  border-color: transparent;

}
.search-button svg{
  color: #75758b;
    font-size: 20px;
}

.five-days-temp{
  height: 65%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.date-header {
  text-align: center;
}

.average-temp {
  font-size: 150px;
  color:white

}

.weekdays{
  height: 20%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(7, 1fr);

}

.temp-container {
 display: flex;
justify-content: center;
}

.weekday-temp {
  color:white;
  text-align: center;
  font-size: 23px;
}

.average-degrees-symbol{
  font-size: 21px;
  color:white;

}

#weekday-degrees-symbol{
  font-size: 11px;
  color:white;
}
